/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";


/* تصفير المسافات الافتراضية للمتصفح */
html,
body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  min-height: 100%;
  /* Allow body to grow, disabling potential scroll trapping */
  overflow-x: hidden;
  /* Prevent horizontal scroll */
  position: relative;
  /* Ensure it's a valid offset parent if needed */
}

/* ضبط حسابات الأبعاد لكل العناصر */
*,
*::before,
*::after {
  box-sizing: border-box;
}